:root {
  --real-scroll-height: 250px;
  --real-scroll-width: calc(var(--real-scroll-height) * 3);
  --scroll-item-offset: 10px;
}

.horizontal-scroll-wrapper {
  margin: 0 auto;
  width: var(--real-scroll-height);
  max-height: var(--real-scroll-width);
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(calc(var(--real-scroll-height) * -1 * 2));
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  padding: var(--scroll-item-offset);
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: var(--real-scroll-height) 0 0 0;
}

.squares > div {
  width: var(--real-scroll-height);
  height: var(--real-scroll-height);
  margin: var(--scroll-item-offset) 0;
}
