/* code line number */

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* anchor icon */
.anchor {
  @apply no-underline hover:text-sky-500 transition-colors duration-300 ease-in-out;
}

.anchor:hover .anchor-icon {
  @apply opacity-100 transition-opacity duration-300 ease-in-out;
}

.anchor-icon {
  @apply ml-2 opacity-0 text-[0.8em] align-middle;
}
