@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-aboreto: var(--font-aboreto);

  /* breakpoint if needed */
  /* --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px; */


  /* grays */
  --color-yume-gray-50: oklch(85.673% 0.00764 260.73);
  --color-yume-gray-100: oklch(82.317% 0.0103 267.34);
  --color-yume-gray-200: oklch(75.71% 0.01495 268.45);
  --color-yume-gray-300: oklch(68.926% 0.01847 267.72);
  --color-yume-gray-400: oklch(61.895% 0.02267 264.4);
  --color-yume-gray-500: oklch(55.102% 0.02336 264.36);
  --color-yume-gray-600: oklch(45.509% 0.01801 260.7);
  --color-yume-gray-700: oklch(35.508% 0.01329 261.73);
  --color-yume-gray-800: oklch(24.312% 0.00818 264.41);
  --color-yume-gray-900: oklch(11.563% 0.00322 285.88);

  /* accent color */
  --color-yume-green-50: oklch(93.445% 0.04161 173.78);
  --color-yume-green-100: oklch(91.296% 0.05569 173.49);
  --color-yume-green-200: oklch(87.184% 0.0824 171.42);
  --color-yume-green-300: oklch(83.377% 0.10561 169.98);
  --color-yume-green-400: oklch(79.793% 0.12633 168.34);
  --color-yume-green-500: oklch(76.527% 0.14271 166.19);
  --color-yume-green-600: oklch(69.055% 0.13316 165.19);
  --color-yume-green-700: oklch(59.606% 0.11319 165.77);
  --color-yume-green-800: oklch(46.034% 0.0855 166.03);
  --color-yume-green-900: oklch(31.062% 0.05348 167.62);

  /* primary color */
  --color-yume-blue-50: oklch(96.247% 0.02001 200.64);
  --color-yume-blue-100: oklch(92.597% 0.03582 205.23);
  --color-yume-blue-200: oklch(84.361% 0.06317 214.03);
  --color-yume-blue-300: oklch(74.762% 0.08826 226.04);
  --color-yume-blue-400: oklch(63.754% 0.11758 239.66);
  --color-yume-blue-500: oklch(49.933% 0.11024 250.04);
  --color-yume-blue-600: oklch(41.436% 0.10419 257.32);
  --color-yume-blue-700: oklch(33.231% 0.09464 263.24);
  --color-yume-blue-800: oklch(25.996% 0.07965 268.39);
  --color-yume-blue-900: oklch(19.004% 0.05983 273.58);

  /* for background, default config */

  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0); 
  
  --color-lsc-blue: hsl(224, 68%, 33%);
}

:root {
  --background: var(--color-neutral-50);
  --foreground: hsl(0 0% 3.9%);
  --card: var(--color-neutral-100);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: var(--color-yume-blue-400);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: var(--color-yume-blue-200);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: var(--color-yume-green-500);
  --accent-foreground: hsl(0 0% 9%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: var(--color-yume-gray-200);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: hsl(0 0% 98%);
  --card: var(--color-neutral-900);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: var(--color-yume-blue-300);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: var(--color-yume-blue-200);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: var(--color-yume-green-400);
  --accent-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: var(--color-yume-gray-800);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50 ring-ring;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utility {
  .text-balance {
    text-wrap: balance;
  }

  .time {
    white-space: nowrap;
  }
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .section-gap {
    @apply mb-32;
  }
}
