:root {
  --base-spotlight: 76.527% 0.14271 166.19; /*   --color-yume-green-500: oklch(76.527% 0.14271 166.19); */
  --spotlight-color: oklch(var(--base-spotlight) / 0.2);
  --spotlight-foreground: var(--color-yume-green-600);
}

.dark {
  --base-spotlight: 83.377% 0.10561 169.98; /*   --color-yume-green-300: oklch(83.377% 0.10561 169.98); */
  --spotlight-color: oklch(var(--base-spotlight) / 0.2);
  --spotlight-foreground: var(--color-yume-green-400);
}

@theme inline {
  --color-yume-spotlight: var(--spotlight-color);
  --color-yume-spotlight-foreground: var(--spotlight-foreground);
}
